In [5]:
import numpy as np
print(f'NumPy version: {np.__version__}')

import pandas as pd
print(f'Pandas version: {pd.__version__}')

import sklearn as sk
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
print(f'Sklearn version: {sk.__version__}')

#NumPy version: 1.20.1
#Pandas version: 1.2.3
#Sklearn version: 0.24.1

NumPy version: 1.19.2
Pandas version: 1.2.3
Sklearn version: 0.24.1

In [6]:
train: pd.core.frame.DataFrame = pd.read_csv("data/NEW-DATA-1.T15.txt", delim_whitespace=True)
test: pd.core.frame.DataFrame = pd.read_csv("data/NEW-DATA-2.T15.txt", delim_whitespace=True)

In [7]:
train

,#,1:Date,2:Time,3:Temperature_Comedor_Sensor,4:Temperature_Habitacion_Sensor,5:Weather_Temperature,6:CO2_Comedor_Sensor,7:CO2_Habitacion_Sensor,8:Humedad_Comedor_Sensor,9:Humedad_Habitacion_Sensor,...,15:Meteo_Exterior_Sol_Oest,16:Meteo_Exterior_Sol_Est,17:Meteo_Exterior_Sol_Sud,18:Meteo_Exterior_Piranometro,19:Exterior_Entalpic_1,20:Exterior_Entalpic_2,21:Exterior_Entalpic_turbo,22:Temperature_Exterior_Sensor,23:Humedad_Exterior_Sensor,24:Day_Of_Week
0,13/03/2012,11:45,18.1875,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,...,12604.20,95436.800,758.8800,0,0,0,18.1150,48.3750,2.0,NaN
1,13/03/2012,12:00,18.4633,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,...,10787.20,95436.800,762.0690,0,0,0,18.4147,47.8080,2.0,NaN
2,13/03/2012,12:15,18.7673,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,...,9669.63,95398.600,766.2510,0,0,0,18.8533,47.4320,2.0,NaN
3,13/03/2012,12:30,19.0727,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,...,9648.13,95360.300,766.0370,0,0,0,19.2907,47.0240,2.0,NaN
4,13/03/2012,12:45,19.3721,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,...,9208.32,95354.900,762.7430,0,0,0,19.7400,45.4743,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,11/04/2012,05:30,21.1520,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,...,0.00,0.000,-3.4340,0,0,0,16.6180,49.2960,3.0,NaN
2760,11/04/2012,05:45,21.0413,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,...,2716.67,523.264,3.8520,0,0,0,16.4013,50.0373,3.0,NaN
2761,11/04/2012,06:00,20.9347,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,...,16203.80,3347.460,26.8300,0,0,0,16.2607,50.0587,3.0,NaN
2762,11/04/2012,06:15,20.8560,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,...,38303.10,7110.660,66.9493,0,0,0,16.2367,49.8400,3.0,NaN
2763,11/04/2012,06:30,20.7627,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,...,51347.50,10270.700,112.2670,0,0,0,16.2860,50.2987,3.0,NaN

In [8]:
test

,#,1:Date,2:Time,3:Temperature_Comedor_Sensor,4:Temperature_Habitacion_Sensor,5:Weather_Temperature,6:CO2_Comedor_Sensor,7:CO2_Habitacion_Sensor,8:Humedad_Comedor_Sensor,9:Humedad_Habitacion_Sensor,...,15:Meteo_Exterior_Sol_Oest,16:Meteo_Exterior_Sol_Est,17:Meteo_Exterior_Sol_Sud,18:Meteo_Exterior_Piranometro,19:Exterior_Entalpic_1,20:Exterior_Entalpic_2,21:Exterior_Entalpic_turbo,22:Temperature_Exterior_Sensor,23:Humedad_Exterior_Sensor,24:Day_Of_Week
0,18/04/2012,00:00,20.2000,19.8000,13.0000,207.840,206.560,31.5800,30.1600,11.7200,...,0.0,0.00,-3.12000,0,0,0,16.0700,39.0800,3.0,NaN
1,18/04/2012,00:15,20.1593,19.7600,13.0000,207.499,206.101,31.6240,30.0613,11.5240,...,0.0,0.00,-2.80800,0,0,0,16.0400,38.9680,3.0,NaN
2,18/04/2012,00:30,20.0740,19.6580,13.0000,207.360,206.805,31.6507,30.1773,11.6220,...,0.0,0.00,-2.96400,0,0,0,16.0160,38.9467,3.0,NaN
3,18/04/2012,00:45,19.9773,19.5833,13.0000,207.445,206.325,31.6987,30.2560,11.7847,...,0.0,0.00,-3.02933,0,0,0,15.9427,39.0760,3.0,NaN
4,18/04/2012,01:00,19.8933,19.5000,13.0000,207.840,205.952,31.7707,30.3840,11.5887,...,0.0,0.00,-2.88600,0,0,0,15.8627,40.0413,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,02/05/2012,06:30,18.8000,18.2667,11.0000,199.424,201.963,43.0160,44.9813,21.8500,...,35671.4,7454.38,124.49600,0,0,0,14.4833,58.9920,3.0,NaN
1369,02/05/2012,06:45,18.7713,18.2153,11.7333,199.200,202.091,43.1920,44.9413,21.1653,...,71188.5,12526.90,256.59700,0,0,0,14.7540,58.6213,3.0,NaN
1370,02/05/2012,07:00,18.7860,18.2000,12.0000,199.435,201.739,43.3947,44.9333,21.2640,...,69498.2,12597.90,281.56800,0,0,0,15.2020,57.6960,3.0,NaN
1371,02/05/2012,07:15,18.8133,18.2153,12.5333,200.107,200.597,43.3440,44.7013,28.1647,...,79102.0,15796.90,354.64500,0,0,0,15.7260,56.8613,3.0,NaN
1372,02/05/2012,07:30,18.8600,18.2667,13.0000,200.149,199.541,43.6667,44.5653,31.1107,...,81240.1,19035.50,404.99200,0,0,0,16.2693,55.8907,3.0,NaN